{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
{% include 'stock/message.html' %}
{% block messages_block %}{% endblock %}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
    </div>
    <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
            <div class="card-body py-5">
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            {{field.help_text}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <button class="btn btn-primary col-12" type="submit" role="button">
                            Sign in
                        </button>
                    </div>
                </form>

                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                        class="link-danger">Create Account</a></p>
                <hr>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>or sign in with:</p>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
                <!-- Register buttons End    -->
            </div>
        </div>
    </div>
</div>
{% endblock %}